* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%; /* 62.5 -> transforma 16px para 10 px como referência */
  --primary-color: hsla(256, 68%, 30%, 1);
  --headline: hsla(210, 11%, 15%, 1);
  --paragraph: hsla(210, 9%, 31%, 1);
  --Secondary-color: hsla(0, 0%, 100%, 1);

  --brand-beige: hsla(0, 0%, 98%, 1);
  --brand-purple: hsla(256, 100%, 93%, 1);z

  --brand-dark: rgb(21, 10, 53);
  --nav-height: 7.2rem;
}

Body,
html {
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
/* === GERAL ======================================== */
html ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;
}

h1 {
  font-size: 3.4rem;
  font-weight: 700;
  color: var(--headline);
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--headline);
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--headline);
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-color);
}

h5 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--paragraph);
}

.button {
  background-color: var(--primary-color);

  text-transform: uppercase;
  color: var(--Secondary-color);
  font-weight: 700;
  text-decoration:none;

  border: none;
  border-radius: 3rem;

  height: 5rem;
  width: 26.3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 2rem;
  margin: 3.2rem auto;
  transition: background 200ms;
}

.button:hover {
  background-color: var(--brand-dark);
}

.wrapper {
  width: min(50rem, 100%);
  margin: auto;
  padding-inline: 2.4rem;
}

/* === MENU ================================ */
nav .menu,
nav .close-menu{
  position: fixed;
}

nav {
  display: flex;
  flex-direction: column;

  position: fixed;
  z-index: 4;

  left: 50%;
  /* deslocamento no eixo x */
  transform: translateX(-50%);
  width: 100vw;
}

nav .nav-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--nav-height);
  padding: 0rem 2rem;

  width: 100vw;
}

nav button.open-menu,
nav button.close-menu {
  border: none;
  background: none;
}

/* === MENU- SCROLL ================================ */
body.scroll nav {
  display: inline-block;
  background-color: var(--primary-color);
  width: 100vw;
  height: 7.2rem;
}

body.scroll svg:nth-child(1) path {
  fill: white;
}

body.scroll .open-menu svg path {
  stroke: white;
}

/* === MENU-EXPANDED ============================== */
#navigation .menu {
  display: none;
}
body.menu-expanded #navigation .menu {
  display: flex;
}
body.menu-expanded .button {
  background-color: var(--Secondary-color);
  color: var(--primary-color);

  margin: 0;
}
body.menu-expanded .button:hover{
  background-color: var(--primary-color);
  color: var(--Secondary-color);

  border: solid 2px #f9f9f9;
  filter: brightness(1.3);
}

body.menu-expanded .button svg {
  display: none;
}
body.menu-expanded {
  overflow: hidden;
}
body.menu-expanded nav .close-menu {
  position: relative;
}

/* pseudo para navegação
body.menu-expanded > :not(nav){
  display:none;
}  */

.menu,
.close-menu,
body.menu-expanded nav .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded nav .menu,
body.menu-expanded nav .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded nav {
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;
}

body .menu {
  transform: translateY(100%);
}

body.menu-expanded nav .menu {
  background-color: var(--primary-color);
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  transition: transform 400ms;
  transform: translateY(0);
}

body.menu-expanded nav .nav-logos {
  margin: 0;
}

body.menu-expanded svg:nth-child(1) path {
  fill: white;
}

body.menu-expanded ul.wrapper li:nth-child(2) svg path {
  stroke: white;
}

nav button.button {
  background-color: var(--Secondary-color);
  color: var(--primary-color);

  font-size: 1.8rem;

  width: 24rem;
  height: 5rem;

  margin: 1rem auto;

  border-radius: 3rem;
  font-weight: 700;

  border: none;
  cursor: pointer;
}

nav button.button svg {
  display: none;
}

nav .social-media {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2.5rem;
  padding: 3rem;
}

nav .menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4.8rem;
  padding-top: 6rem;

  font-size: 1.8rem;
  color: var(--Secondary-color);
}

nav .menu-section a {
  color: var(--Secondary-color);
  text-decoration: none;
}

/* === HEADER ================================ */
body main #home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home .wrapper {
  width: min(50rem, 100%);
  margin: auto;
  padding-inline: 2.4rem;
  padding-top: 9rem;
}

body main #home::before {
  /* cria uma tag no html */
  content: '';
  background-color: var(--brand-purple);

  width: 100%;
  height: 98rem;

  display: block;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 32.7rem;
  margin-top: calc(1.5rem + var(--nav-height));
}

.stats {
  width: 100%;

  border-radius: 1rem;
  border: 1px solid var(--brand-beige);

  margin-inline: auto;
  position: relative;
  z-index: 1;
  top: -5rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  padding: 4rem 0 4rem 0;

  background-color: hsla(0, 0%, 100%, 1);
}

/* === SERVICE ================================ */
#services-container::before {
  content: '';
  background-color: #f9f9f9;

  width:100%;
  height: 225rem;

  display: block;
  position: absolute;
  z-index: -1;
  top: 95rem;
  left: 0;
}

#services header {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
}

.services-section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;

  padding: 2.4rem;

  background-color: hsla(0, 0%, 100%, 1);
  margin: 3.2rem 0rem;

  border-radius: 1rem;
  border: 1px solid hsla(257, 100%, 93%, 1);

  text-align: left;
}

/* === ABOUT ================================ */
#about-container::before {
  content: '';
  background-color: hsla(257, 100%, 93%, 1);

  width:100%;
  height: 94rem;

  display: block;
  position: absolute;
  z-index: -1;
  top: 320rem;
  left: 0;
}

#about header {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#about h1 {
  padding: 1.6rem 0rem 2.4rem 0rem;
}

#about h6 {
  text-align: left;
  padding-bottom: 6rem;
}

#about img {
  padding-bottom: 6rem;
  width: 100%;
}

/* === CONTACT ================================ */
#contact {
  margin-top: 10rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10rem;

  text-align: left;
}

#contact h1 {
  text-align: left;
  padding-bottom: 3.2rem;
}

img .local-icons {
  display: flex;
  align-content: center;

  gap: 1rem;
  padding-bottom: 1.6rem;
}

#contact button {
  background-color: var(--primary-color);

  text-transform: uppercase;
  color: var(--Secondary-color);
  font-weight: 700;

  border: none;
  border-radius: 3rem;

  height: 5rem;
  width: 26.3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 2rem;
  margin: 3.2rem auto;
}
.img-contact{
  width: 100%;
}

/* === FOOTER ================================ */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--primary-color);
  height: 28.5rem;
  padding: 6rem 0rem 2.6rem 2.6rem;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.6rem 0rem 3.2rem 0rem;

  gap: 2rem;

  color: var(--Secondary-color);
}

footer ul {
  display: flex;
  gap: 3.2rem;
}

/* BACK TO TOP*/
#backToTopButton{
  position: fixed;
  bottom: 1rem;
  right: 3rem;

  opacity: 0;
  visibility:hidden;
  
  transform: translateY(100%);
  transition: 300ms;
}

#backToTopButton.show{
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

/* RESPONSIVIDADE  */
@media (min-width: 1024px){ 
  /* RESET ========================= */
  nav#navigation *{
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    background-color: initial;
    font-weight: initial;
    transform: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .menu .social-media{
    display: none;
  }

  /* GERAL ========================= */
  .wrapper{
    width:min(112rem, 100%);
    display: grid;
  }
  
  .logo svg{
    width: 25rem;
    height: 6rem;
  }

  /* NAV ========================= */
  body nav#navigation{
    display:flex;
    flex-direction: row;
    padding: 0rem 2rem;
  }
  
  nav#navigation .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    padding:0rem 2rem;
  }

  nav#navigation .menu{
    display: flex;
    position: relative;
    align-items: center;
    right: 2rem;

    justify-content: space-between;
    width: 70%;
  }

  nav#navigation .menu-section a{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding-right: 3rem;
  }

  nav#navigation .menu-section{
    display: flex;
  }

  nav#navigation .menu ul li{
    opacity: 0.5;
  }

  nav#navigation .menu-section li:hover{
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu-section li a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color:var(--primary-color);

    position: relative;
    bottom: -2rem;
    left: -10rem;
    transition: 300ms;
  }

  
  nav#navigation .menu ul a.button {
    font-weight: 700;

    border: 1px solid var(--primary-color);
    border-radius: 3rem;
    width: 15rem;

    padding:1rem;

    color: var(--primary-color);
  }


  /* scroll */
  body.scroll nav#navigation{
    background-color: var(--primary-color);
    padding: 0rem 2rem;
  }
  
  body.scroll nav#navigation .menu-section a{
    color: var(--Secondary-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding-right: 3rem;

    opacity: 0.7;
  }

  nav#navigation .menu ul a.button svg{
    display: none;
  }

  body.scroll nav#navigation .menu ul a.button {
    border: 1px solid var(--Secondary-color);
    color: var(--Secondary-color);
  }
  
  /* HOME */
  body main #home::before{
    height:60rem;
  }

  #home .wrapper {
    display: grid;
    width: min(112rem, 100%);
  
    grid-template-areas: 
            "a b"
            "a b"
            "c c";
    
  }

  #home .wrapper div{
    grid-area: a;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem;
  }

  #home .wrapper div p, h4{
    font-size: 1.8rem;
    text-align: left;
  }

  #home .wrapper div h1{
    font-size: 4rem;
    text-align: left;
  }

  #home .wrapper div a.button{
    text-align: left;
    margin: 0;
  }

  #home .wrapper img{
    grid-area: b;
  }

  #home .wrapper .stats{
    grid-area: c;
    flex-direction: row;
    justify-content:space-between;

    padding: 5rem; 
  }

  #home .wrapper .stats ul:nth-child(1){
    border-right: 2px solid #d4d4d4;
    padding:0rem 5rem 0rem 0rem;
  }

  #home .wrapper .stats ul:nth-child(2){
    border-right: 2px solid #d4d4d4;
    padding:0rem 5rem 0rem 0rem;
  }

  /*  SERVICES*/
  #services-container::before{
    top: 50rem;
    height:90rem;
  }

  #services header{
    align-items: center;
    padding: 2rem;
  }

  #services div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  #services div .services-section{    
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  /* ABOUT */
  #about-container::before{
    background-color: var(--brand-purple);
    top: 140rem;
    height:59rem;
  }

  #about{
    display:grid;
    grid-template-areas: 
    "a b"
    "a b";
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding:13rem 5rem 0rem 5rem;
  }

  #about header, h6{
    grid-area: b;
    text-align: left;
    padding: 0rem;
  }

  #about img{
    grid-area: a;
  }

  /* Contact */

  #contact{
    display:grid;
    grid-template-areas: 
    "a b"
    "a b";
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem auto;
  }

  #contact header{
    grid-area: a
    text-align: left;
    padding: 0rem;
  }
  #contact h1{
    padding: 0rem 5rem 0rem 0rem;
  }

  #contact img{
    grid-area: b;
  }
  
  #contact .button{
    margin: 2rem 0rem 0rem 0rem;
  }
}
